[DATABASE]
host=localhost
user=
pass=
port=3306
database=

[OPAC]
# Need to restart flask server to work
admin=True
title=Online playermap

[WEBAPP]
debug=True
host=localhost
namespace=/playermap
port=5000
secret_key=secret!
timer=60
expansion=0.5.3

[dun_morogh]
mapfile=/static/img/map/dun_morogh.jpg
logofile=/static/img/wowlogo.png
map_0_offset_x=365
map_0_Offset_y=-945
map_0_mod_x=0.224
map_0_mod_y=0.224
map_1_offset_x=145
map_1_offset_y=390
map_1_mod_x=0.03240
map_1_mod_y=0.030140

[0.5.3]
mapfile=/static/img/map/azeroth-0.5.3.jpg
logofile=/static/img/wowlogo.png
map_0_offset_x=695
map_0_Offset_y=231
map_0_mod_x=0.032
map_0_mod_y=0.028
map_1_offset_x=145
map_1_offset_y=390
map_1_mod_x=0.03240
map_1_mod_y=0.030140

[3.3.5a]
mapfile=/static/img/map/azeroth-3.3.5a.jpg
logofile=/static/img/wowlogo.png
map_0_offset_x=752
map_0_offset_y=291
map_0_mod_x=0.025140
map_0_mod_y=0.025140
map_1_offset_x=194
map_1_offset_y=398
map_1_mod_x=0.025140
map_1_mod_y=0.025140
