[DATABASE]
host=localhost
user=
pass=
port=3306
database=alpha_world

[OPAC]
# Need to restart flask server to work
admin=False
title=Online playermap

[WEBAPP]
debug=True
host=localhost
namespace=/playermap
port=5000
secret_key=secret!
timer=60
