body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  color: #EABA28;
  background-color: #000000;
}

#world {
  position: absolute;
  left:50%;
  margin-left: -483px;
  height: 732px;
  width: 966px;
  background-image: url(/static/img/wowlogo.png), url(/static/img/map/azeroth.jpg);
  background-position: center top, left top;
  background-repeat: no-repeat;
  z-index: 10;
}

#player_online {
  position: relative;
  margin: 0 auto;
  top: 150px;
  width: 100px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
  z-index: 11;
}

#player_information {
  position: absolute;
  display: none;
  width: auto;
  min-width: 150px;
  height: auto;
  min-height: 40px;
}

#information {
  position: absolute;
  display: none;
  width: auto;
  min-width: 150px;
  height: auto;
  min-height: 75px;
}

#menu {
  position: relative;
  top: 0px;
  left: 0px;
  width: 110px;
  height: auto;
  z-index: 100000;
  padding: 10px;
}

button {
  width: 110px;
}

.center {
  margin: 0 auto;
}

.wow-popup {
  background: rgba(0, 0, 0, 0.73);
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px;
  border-style: solid;
  border-color: rgba(208, 202, 204, 1) rgba(90, 71, 63, 1) rgba(90, 71, 63, 1) rgba(208, 202, 204, 1);
  z-index: 99999;
}

.icon {
  position: absolute;
  height: 7px;
  width: 7px;
  border: 0px;
  z-index: 100;
}

.title {
  color: rgba(0, 153, 26, 1);
  font-size: 20px;
  padding-top: 5px;
  padding-right: 5px;
}

.row {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
}

.left_padding {
  padding-left: 5px;
}

#cimg {
  width: 150px;
}
