<!-- /templates/index.html -->

<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel=”icon” type= “image/x-icon” href="favicon.ico" />

  <!-- https://jquery.com/download/ -->
  <script src="/static/js/jquery-3.6.0.min.js"></script>

  <!-- https://github.com/socketio/socket.io/releases -->
  <script src="/static/js/socket.io.min.js"></script>

  <script src="/static/js/playermap.js"></script>

  <!-- https://html5boilerplate.com -->
  <link rel="stylesheet" href="/static/css/normal.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
  <div id="world"></div>

  {% if admin == "True" %}
   <button id="get_worldport" type="button">Worldport</button><br/>
   <button id="get_creature_position" type="button">Creatures</button><br/>
   <button id="get_gameobjects" type="button">Game objects</button><br/>
   <button id="get_player_position" type="button">Players</button><br/>
   <button id="get_taxi_nodes" type="button">Taxi nodes</button><br/>

   <div id="mouse_click_info"></div>
   {% endif %}

   <div id="player_information">
     <div id="header"><span id="name"></span></div>
     <div class="row"><span id="guild"></span></div>
     <div class="row"><span id="level"></span><span id="faction"><img src="" /></span><span id="race"><img src="" /></span><span id="class"><img src="" /></span></div>
     <div class="row"><span id="zone"></span></div>
   </div>

   <div id="information">
     <div id="header"><span id="cname"></span></div>
     <div class="row"><span id="spawnid"></span></div>
     <div class="row"><span id="cposx"></span></div>
     <div class="row"><span id="cposy"></span></div>
     <div class="row"><span id="cposz"></span></div>
     <div class="row"><span id="orientation"></span></div>
     <div id="cimage"></div>
   </div>

</body>

</html>
