<!-- /templates/index.html -->

<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- https://jquery.com/download/ -->
  <script src="/static/js/jquery-3.6.0.min.js"></script>

  <!-- https://github.com/socketio/socket.io/releases -->
  <script src="/static/js/socket.io.min.js"></script>
  <script src="/static/js/playermap.js"></script>

  <!-- https://getbootstrap.com/docs/4.6.0/getting-started/download/ -->
  <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
  <div id="world"></div>
   <button id="btnSubmit" type="button">Click Me!</button> 
</body>

</html>
